<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>whatisthisanimal</title>
    </head>
    <body>
       <div class="container">
            <div class="container__title">
                <h1>whatisthisanimal.</h1>
                <p>powered by, tensorflow</p>
            </div>
            <div class="container__main">
                <form method="POST" action="/animals" enctype="multipart/form-data">
                    <input type="file" name="imageFile">
                    <button type="submit">Guess animal</button>
                </form>

                {% if name %}
                    <h4 style="margin: 3rem 0;">Detected: {{name}} - {{perc}}</h4>
                    <img src="{{image_path}}">
                {% endif %}
            </div>
        </div>
    </body>
</html> 