{% extends "layout.html" %}
{% block title %} Chatbot {% endblock %}
{% block body %}
    <div class="container">
        <div class="container__title">
            <h1>Chatbot</h1>
            <p>Starting chatting with a robot</p>
            <h4>
                <a href="/" class="flex flex--a-center">
                    <svg class="image--icon">
                        <use href="#back-arrow"></use>
                    </svg>
                    <span>Back to home</span>
                </a>
            </h4>
        </div>
        <div class="container__content flex">
            <div class="container__content__project-details">
                <img src="/static/backgrounds/dark_chatbot.svg" alt="">
            </div>
            <div class="container__content__functionality">
                <div class="container__content__functionality__chat card">
                    <div class="card__header">
                        <h4>New chat</h4>
                    </div>
                    <div id="chat-body" class="container__content__functionality__chat__body card__body">
                        <p class="container__content__functionality__chat__body__bot-message">
                            <span>Hello</span>
                        </p>
                    </div>
                    <div class="container__content__functionality__chat__footer card__footer flex flex--a-center">
                        <input type="text" id="new-message" placeholder="Type message...">
                        <button class="btn btn--primary" id="send-message">Send</button>
                    </div>
                </div>
                <div id="clear-output"  style="margin-top: 2rem;" class="container__content__functionality__clear flex flex--a-center">
                    <svg class="image--icon">
                        <use href="#refresh"></use>
                    </svg>
                    <h4>Clear chat</h4>
                </div>
            </div>
        </div>
        <div class="container__footer">
            <div class="container__sub-title flex flex--a-center flex--j-space-between">
                <div>
                    <h1>Other projects</h1>
                    <div class="container__sub-title__hr"></div>
                </div>
                <h4><a href="/">View all</a></h4>
            </div>

            <div class="container__footer__other-projects">
                <div class="container__footer__other-projects__item flex flex--j-bottom flex--a-center">
                    <img src="/static/backgrounds/dark_unknown.svg">
                    <h4>Object detector</h4>
                    <a href="/objectdetector">View</a>
                </div>
                <div class="container__footer__other-projects__item flex flex--j-bottom flex--a-center">
                    <img src="/static/backgrounds/dark_face.svg">
                    <h4>Face finder</h4>
                    <a href="/facedetector">View</a>
                </div>
                <div class="container__footer__other-projects__item flex flex--j-bottom flex--a-center">
                    <img src="/static/backgrounds/dark_bear.svg">
                    <h4>Animal detector</h4>
                    <a disabled>Upcoming</a>
                </div>
            </div>
        </div>
    </div>

    <script type="module">
        import { sendMessage } from "/static/js/helpers/chatbot.js"

        document.getElementById('send-message')
            .onclick = sendMessage
    </script>
{% endblock %}