<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Python mini projects</title>
</head>
<body>
    <div class="container">
        <div class="container__title">
            <h1>Python mini projects.</h1>
            <p>a series of python mini projects</p>
        </div>
        <div class="container__main">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis in culpa cupiditate repellat, deleniti distinctio suscipit repellendus tenetur eveniet quisquam ullam quos sapiente pariatur iusto error beatae perspiciatis nisi dolores!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sint, et asperiores doloremque modi vero obcaecati commodi laborum ex quia soluta aut illum, quod ut cupiditate ullam similique, accusamus libero!
        </div>
    </div>
</body>
</html>
