<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>twittersentimentchecker</title>
</head>
<body>
    <div class="container">
        <div class="container__title">
            <h4><img src="/static/icons/arrow-left.svg" alt="left"> <a href="/">Go back</a></h4>
            <h1>twittersentimentchecker.</h1>
            <p>powered by, nltk</p>
        </div>
        <div class="container__main">
            <form method="POST" action="/twitter" class="flex flex--a-center">
                <input type="text" style="background-color: transparent; padding: 1rem .7rem; border: none; margin-right: 2rem; flex: 1;" name="inputTopic" placeholder="Type a sentence...">
                <button type="submit">Check sentiment</button>
            </form>
            {% if senti %}
                The sentiment about "{{topic}}" is
                {% for labels in senti %}
                <li>{{ labels }}%</li>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>