html {
    font-size: 62%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html body {
    background-color: #fcfcfc;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

*::-webkit-scrollbar {
    position: absolute;
    width: .5rem;
}

*::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: lightgray;
}

@font-face{
    src: url('/static/fonts/Poppins/Poppins-Medium.ttf');
    font-family: 'Poppins Medium';
}

@font-face{
    src: url('/static/fonts/Poppins/Poppins-Regular.ttf');
    font-family: 'Poppins Regular';
}

@font-face{
    src: url('/static/fonts/Poppins/Poppins-Light.ttf');
    font-family: 'Poppins Light';
}

@font-face{
    src: url('/static/fonts/Poppins/Poppins-ExtraLight.ttf');
    font-family: 'Poppins ELight';
}

body{
    font: 1.35rem/1.5 "Poppins Light";
    color: #515151;
}

h1, h2, h3, h4, h5{
    font-family: "Poppins Medium";
    font-weight: 400;
}

.hide {
    display: none;
}

.image--back{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 50%;
    margin: 0 auto;
    margin-top: 15rem;
}

.container__main{
    display: flex;
    flex-direction: column;
}

.container__main__upload-label{
    background-color: #1b2141;
    border-radius: 16px;
    padding: 0.4rem 1rem;
    color: white;
}

.container form {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.4rem;
    border: 1px solid #eee;
    border-radius: 6px;
    margin-top: 2rem;
    align-items: center;
}

.container button{
    padding: .7rem 1.4rem;
    border: none;
    border-radius: 6px;
}

.container canvas{
    margin: 3rem auto;
}


.container button{
    padding: .7rem 1.4rem;
    border: none;
}

.container .container__title h4{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.container .container__title img{
    width: 2rem;
    margin-right: 1rem;
}

.container .container__title a{
    color: #737373;
    text-decoration: none;
}

.container__main__recorder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 14px;
    padding: .8rem 1.4rem;
    margin-top: 5rem;
}

.container__main__recorder__controls__start{
    background-color: #052305;
    color: #fff;
}

.container__main__recorder__controls__stop{
    color: #fff;
    background-color: #950000;
}

.container__main__recorder__controls__stop:disabled{
    background-color: #a46464;
}

.container__translation{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.container__translation__from, .container__translation__to{
    flex: 0 49%;
    border-radius: 6px;
    border: 1px solid #eee;
    padding: 1.4rem 2rem;
}

.container__translation__from textarea{
    border: none;
    min-height: 20rem;
    width: 100%;
    background-color: transparent;
    padding-top: 1.4rem;
    font-family: 'Poppins Light';
}

.container__translation__to p{
    min-height: 20rem;
}

.container__translation__to p{
    padding-top: 1rem;
}

.language-selector{
    display: flex;
    justify-content: space-between;
}

.language-selector select{
    border: none;
    background-color: transparent;
    text-align: right;
}

.container__main__messages{
    padding: 1.4rem;
    border: 1px solid #eee;
    margin-top: 3rem;
    border-radius: 6px;
}

.container__main__new-message{
    display: flex;
    margin-top: 3rem;
}

.container__main__new-message textarea {
    flex: 1;
    margin-right: 1rem;
    width: 100%;
    padding: .7rem 1rem;
    background-color: #ccc;
    border: none;
    border-radius: 6px;
}

.container__main__new-message button{
    border: none;
    padding: .7rem 1.4rem;
    background-color: #0095ff;
    border-radius: 6px;
}

.container__main__messages__bot{
    margin-bottom: 2rem;
}

.container__main__messages__bot + .container__main__messages__bot{
    margin-top: -2rem;
}

.container__main__messages__bot span{
    background-color: #adadad;
    padding: .5rem 1rem;
    border-radius: 6px;
}

.container__main__messages__user{
    text-align: right;
}

.container__main__messages__user span {
    background-color: #43ace9;
    padding: .5rem 1rem;
    border-radius: 6px;
}

.container--home header{
    position: fixed;
    z-index: 100;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 5rem;
}

.container--home header h4{
    font-size: 2rem;
    color: #dee3ff;
    letter-spacing: 4px;
}

.container--home .showcase{
    position: relative;
    height: 40rem;
}

.container--home .showcase .showcase__background{
    position: relative;
    height: 40rem;
}

.container--home .showcase .showcase__caption{
    position: absolute;
    bottom: 1rem;
    left: 5rem;
    color: #1b2141;
}

.container--home .showcase .showcase__caption h1{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
}

.container--home .showcase .showcase__caption h1 .highlight{
    color: #dee3ff;
}

.container--home .container--home__main{
    display: flex;
    padding: 5rem;
}

.container--home .container--home__main h4{
    font-size: 2rem;
    margin-bottom: 1.4rem;
    color: #1b2141;
}

.container--home .container--home__main .container--home__main__projects{
    flex: 1;
    margin-right: 4rem;
    padding-right: 4rem;
    border-right: 1px solid #eee;
}

.container--home .container--home__main .container--home__main__projects .container--home__main__projects__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.container--home .container--home__main .container--home__main__projects .container--home__main__projects__list__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 1rem;
    box-shadow: 0 0 3px #d1d1d1;
    border-radius: 6px;
    cursor: pointer;
}

.container--home .container--home__main .container--home__main__projects .container--home__main__projects__list__item img{
    width: 10rem;
}

.container--home .container--home__main .container--home__main__projects .container--home__main__projects__list__item h4{
    margin-top: 3rem;
    margin-bottom: 0;
}

.container--home .container--home__main .container--home__main__projects .container--home__main__projects__list__item p{
    color: #b1afaf;
}

.container--home .container--home__main .container--home__main__contributers{
    flex: 0 0 40rem;
}

.container--home .container--home__main .container--home__main__contributers .container--home__main__contributers__list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container--home .container--home__main .container--home__main__contributers .container--home__main__contributers__list__item{
    display: flex;
    align-items: center;
    width: 40rem;
}

.container--home .container--home__main .container--home__main__contributers .container--home__main__contributers__list__item__icon{
    position: relative;
    width: 6rem;
    height: 6rem;
    border: 1px solid #eee;
    margin-right: 1rem;
    border-radius: 50%;
}

.container--home .container--home__main .container--home__main__contributers .container--home__main__contributers__list__item img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    margin-right: 2rem;
}

.container--home .container--home__main .container--home__main__contributers .container--home__main__contributers__list__hr{
    width: 8rem;
    height: 1px;
    background-color: #e5e4e4;
    margin: 1rem 0;
}

@media (max-width: 1100px) {
    .container--home .container--home__main {
        display: block;
        padding-left: 13%;
        padding-right: 13%;
    }

    .container--home .container--home__main .container--home__main__projects {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 3rem;
    }

        .container--home .container--home__main .container--home__main__contributers__list__item{
            width: 100% !important;
        }
    
    .container--home .container--home__main .container--home__main__contributers__list__hr{
        height: 2px !important;
    }
}

@media (max-width: 800px) {
    .container {
        width: 65%;
    }

    .container--home .container--home__main .container--home__main__projects .container--home__main__projects__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .container {
        width: 75%;
    }

    .container .container__translation{
        flex-direction: column;
    }

    .container .container__translation .container__translation__from{
        margin-bottom: 2rem;
    }
}

@media (max-width: 500px) {
    .container{
        width: 85%;
    }

    .container--home header{
        padding: 0 3rem;
    }

    .container--home .showcase .showcase__caption{
        left: 3rem;
    }

    .container--home .container--home__main .container--home__main__projects .container--home__main__projects__list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 375px) {
    .container {
        width: 100%;
        padding: 0 1.3rem;
    }

    .container--home .container--home__main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}